body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* espaçamento externo da pagina */
    padding: 0;/* espaçamento interno da pagina */
    background-color: #f4f4f4;
    text-align: center; /* texto centralizado */
}
header{
    background-color: #28a745;
    color: white;
    padding: 15px 0px ; /*15 px é o expaçamento interno a cima e abaixo e 0px espacamento interno a direta e a esquerda*/
}
nav{
    background-color: #007bff;
    padding: 10px;
    display: flex; /*fex boxing*/
    justify-content: space-between; /*espaço entre os elementos do menu */
    align-items: center; /*alinhamento na vertical */
}
#links-menu{
    display:flex;
    gap: 30px; /*distancia entre os itens do menu */
    
}
nav a{ /*configura os itens do menu */
    color: white;
    text-decoration:none; /* não decora os links*/
    padding: 10px 15px;
    font-size: 18px;
    background-color: #0056b3;
    border-radius: 5px; 
    cursor: pointer;
    
    
}
img{
    width: 120px;
    height: auto;
    margin-right: 80px;
    border-radius: 10px;

}
.container{
    width: 80%;
    background:white ;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
}
h2{
    text-align: center;
}

ol li{
    padding-bottom: 10px;
}

table tr td{
    padding: 20px;
    
    
}

table{
    margin: auto;
    width: 100%;
    
}

.laranja{
    background-color: orange;
    
}
.preta{
    background-color: black;
    color: white;
}
.roxa{
    background-color:violet;
    
}
.verde{
    background-color:rgb(35, 239, 35);
    
}
.vermelha{
    background-color: red;
    
}
.azul{
    background-color: navy;
    color: white;
    margin: 20px;
}
.cinza{
    background-color: rgb(168, 168, 192);
}
